@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* General */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP';
  font-weight: 300;
}

body {
  padding-top: 16px;
}

article, header, footer {
  max-width: 960px;
  margin: auto;
}

header, footer, .container {
  padding: 24px;
}

/* Header */
h1 {
  margin: auto;
  font-size: 72px;
}

p.caption {
  margin-top: -16px;
}

/* Result */
#query {
  width: 100%;
  font-size: 24px;
  padding: 16px;
}

#text {
  font-weight:100;
  min-height: 72px;
}

strong {
  background-color: yellow;
}

/* Table */
td {
  padding-right: 16px;
}

td.label {
  font-weight: 500;
}

/* Footer */
footer a {
  color: black;
  text-decoration: none;
}
